pre{
	padding:10px;
	border-radius: 5px;	
}
 a{
 	text-decoration: none;
 	color:#E91E63;
 	transition-duration:0.2s;
 }
 a:hover{
 	background-color: #E91E63;
 	color: #FFF;
 	padding:3px;
 	border-radius: 2px;

 }